<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let infracao of infracoes" [colspan]="2" [rowspan]="2">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Infração
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expandir</button>
              <button mat-menu-item>Remover</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div [innerText]="infracao._id"></div>
          <div [innerText]="infracao.datainfracao"></div>
          <div [innerText]="infracao.horainfracao"></div>
          <div [innerText]="infracao.dataimplantacao"></div>
          <div [innerText]="infracao.agenteequipamento"></div>
          <div [innerText]="infracao.infracao"></div>
          <div [innerText]="infracao.descricaoinfracao"></div>
          <div [innerText]="infracao.amparolegal"></div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
